body, h1, h2, h3, h4, h5 {
    font-family: "Inconsolata", sans-serif
}
body {
    font-size: 16px;
}

img, #video, #canvas {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 10px black;
}

/* from https://mdn-samples.mozilla.org/s/webrtc-capturestill/ */
#video {
  /*border: 1px solid black;*/
  /*box-shadow: 2px 2px 3px black;*/
  width:100%;
}

#photo {

  width:100%;
}

#canvas {
  display:none;
}

.camera {
  display:inline-block;
}

.output {
  width:100%;
  display:inline-block;
}
